In [1]:
import pandas as pd
import numpy as np

from os.path import join

from fixation_extraction import IVT

DATA_PATH = join('..', 'test_data')

In [2]:
def remove_points(df, x_min, x_max, y_min, y_max):
    df = df[df['norm_pos_x'] <= x_max]
    df = df[df['norm_pos_x'] >= x_min]
    df = df[df['norm_pos_y'] >= y_min]
    df = df[df['norm_pos_y'] <= y_max]
    return df

data = pd.concat([pd.read_excel(join(DATA_PATH, 'itog_gaze_1.xlsx')),
                  pd.read_excel(join(DATA_PATH, 'itog_gaze_2.xlsx'))], axis=0)

data.drop(['world_index', 'confidence', 'base_data'], axis=1, inplace=True)
data = remove_points(data, -1, 1, -1, 1)
data['gaze_timestamp'] = data['gaze_timestamp']

In [3]:
x = 'norm_pos_x'
y = 'norm_pos_y'
t = 'gaze_timestamp'

ivt = IVT(x=x, y=y, t=t, pk=['Participant', 'tekst'], threshold=0.10)

In [4]:
data_ivt = ivt.transform(data)
data_ivt

,Participant,tekst,norm_pos_x,norm_pos_y,start_time,end_time,distance_min,distance_max
0,1,1,0.242056,0.510704,317242.694809,317242.715197,0.000988,0.012066
1,1,1,0.243933,0.507985,317242.728767,317242.766803,0.000971,0.010593
2,1,1,0.244890,0.507302,317242.779258,317242.779258,0.002909,0.002909
3,1,1,0.243674,0.473291,317242.805314,317243.004508,0.000679,0.054160
4,1,1,0.246791,0.435542,317243.017989,317243.024352,0.000697,0.001653
...,...,...,...,...,...,...,...,...
51153,2,37,0.376292,0.619985,1834.312914,1834.318381,0.001401,0.001402
51154,2,37,0.376239,0.620591,1834.331099,1834.331099,0.003480,0.003480
51155,2,37,0.376137,0.616913,1834.343663,1834.343663,0.000851,0.000851
51156,2,37,0.376363,0.617434,1834.355116,1834.365957,0.000878,0.003641
51157,2,37,0.376733,0.613954,1834.377974,1834.406549,0.000779,0.003577