In [1]:
import pandas as pd
import numpy as np
from scanpath_dist import SimpleDistances, ScanMatchDist, TDEDist, MultiMatchDist

import warnings
warnings.simplefilter("ignore")

In [2]:
data = pd.concat([
    pd.read_excel('itog_fix_1.xlsx'),
    pd.read_excel('itog_fix_2.xlsx'),
    pd.read_excel('itog_fix_3.xlsx'),
    pd.read_excel('itog_fix_4.xlsx')
], axis=0)

In [3]:
x = 'norm_pos_x'
y = 'norm_pos_y'
t = 'start_timestamp'
dur = 'duration'
dis = 'dispersion'
msv = 4.7  # MS_VELOCITY_THRESHOLD
msa = 1.2  # MS_AMPLITUDE_THRESHOLD

extr = SimpleDistances(
    methods=["euc", "hau", "dfr", "eye", "man", "dtw"],
    x=x, y=y,
    path_pk=["tekst"],
    pk=["Participant", "tekst"],
    return_df=True,
)

extr.fit_transform(data)

100%|██████████| 147/147 [00:00<00:00, 497.90it/s]
100%|██████████| 147/147 [00:01<00:00, 86.05it/s]
100%|██████████| 147/147 [00:01<00:00, 77.12it/s]
100%|██████████| 147/147 [00:04<00:00, 35.82it/s]
100%|██████████| 147/147 [00:03<00:00, 40.57it/s]
100%|██████████| 147/147 [00:11<00:00, 13.29it/s]

       euc_dist  hau_dist   dfr_dist  eye_dist  man_dist   dtw_dist
0     10.397563  0.269627   0.224603  0.015325  0.004204  10.744136
1      4.945962  0.265494   0.227070  0.027094  0.007081   8.130789
2      3.107949  0.271277   0.473535  0.033927  0.009391  22.032104
3      9.741610  0.476144   0.568377  0.042891  0.016311  24.487473
4     13.541208  0.124878   0.182043  0.020180  0.005045   8.779341
..          ...       ...        ...       ...       ...        ...
142   42.469057  5.066629  25.670726  0.239475  0.159370   6.482791
143   23.368068  4.456928  19.864203  0.122196  0.105076   9.798708
144   59.431793  5.479560  30.025579  0.329744  0.416930   2.216757
145   55.828504  4.667717  21.787584  0.182987  0.198605  10.894146
146  205.641682  8.435143  71.151638  1.299839  0.769607  31.865107

[147 rows x 6 columns]

In [4]:
sm = ScanMatchDist(
    x=x, y=y, duration=dur,
    path_pk=["tekst"],
    pk=["Participant", "tekst"],
    sub_mat=np.random.rand(20, 20),
    return_df=True,
)

sm.fit_transform(data)

100%|██████████| 147/147 [00:03<00:00, 39.20it/s]

     scan_match_dist
0           0.459179
1           0.733128
2           0.859643
3           0.426877
4           0.000000
..               ...
142         0.589563
143         0.410091
144         0.200575
145         0.620513
146         0.821230

[147 rows x 1 columns]

In [5]:
sm = TDEDist(
    x=x, y=y, k=5,
    path_pk=["tekst"],
    pk=["Participant", "tekst"],
    return_df=True,
)

sm.fit_transform(data)

100%|██████████| 147/147 [00:01<00:00, 99.31it/s]

      tde_dist
0     0.508382
1     0.452390
2     0.634612
3     0.704095
4     0.604588
..         ...
142   5.785310
143   2.778538
144  10.606289
145   5.714853
146  15.315213

[147 rows x 1 columns]

In [6]:
sm = MultiMatchDist(
    x=x, y=y, duration=dur,
    path_pk=["tekst"],
    pk=["Participant", "tekst"],
    return_df=True,
)

sm.fit_transform(data)

100%|██████████| 147/147 [00:10<00:00, 14.55it/s]

     mm_shape  mm_angle    mm_len    mm_pos  mm_duration
0    0.984725  0.811246  0.981169  0.841983     0.708788
1    0.986781  0.828602  0.984288  0.879750     0.712520
2    0.988105  0.659993  0.986397  0.818766     0.556836
3    0.988975  0.718785  0.984849  0.762987     0.546100
4    0.988347  0.762186  0.988212  0.822096     0.644110
..        ...       ...       ...       ...          ...
142  0.987316  0.669655  0.978432  0.888556     0.562034
143  0.985728  0.571154  0.982113  0.805682     0.367037
144  0.981164  0.631371  0.978778  0.915924     0.559184
145  0.984328  0.741175  0.979022  0.846688     0.535460
146  0.984929  0.736315  0.981630  0.890830     0.406476

[147 rows x 5 columns]