In [1]:
import pandas as pd
import numpy as np

from stats import SaccadeLength, FixationDuration, SaccadeVelocity, FixationVAD, RegressionCount
from extractor import Extractor

In [2]:
data = pd.concat([pd.read_excel('itog_fix_1.xlsx'), pd.read_excel('itog_fix_2.xlsx')], axis=0)

In [3]:
features = [
        SaccadeVelocity(stats=['mean', 'kurtosis', 'max']),
        FixationDuration(stats=['median', 'skew', 'var']),
        FixationVAD(stats=['mean', 'median']),
        SaccadeLength(stats=['var', 'std']),
        RegressionCount()
    ]
sac_vel = SaccadeVelocity(stats=['mean', 'kurtosis', 'max'], x='norm_pos_x', y='norm_pos_y', t='start_timestamp', duration='duration',
                            pk=['tekst'])
fix_dur = FixationDuration(stats=['median', 'skew', 'var'], x='norm_pos_x', y='norm_pos_y', t='start_timestamp', duration='duration', pk=['tekst'])
reg_count = RegressionCount(x='norm_pos_x', y='norm_pos_y', t='start_timestamp', pk=['tekst'])
fix_vad = FixationVAD(stats=['mean', 'median'], x='norm_pos_x', y='norm_pos_y', t='start_timestamp', dispersion='dispersion', pk=['tekst'])
sac_len = SaccadeLength(stats=['var', 'std'], x='norm_pos_x', y='norm_pos_y', t='start_timestamp', duration='duration', pk=['tekst'])

extractor = Extractor(features=features, x='norm_pos_x', y='norm_pos_y', t='start_timestamp', duration='duration', dispersion='dispersion', pk=['tekst'],
                      return_df=True)

In [4]:
sac_len.transform(data)

,sac_len_var_1,sac_len_std_1,sac_len_var_2,sac_len_std_2,sac_len_var_3,sac_len_std_3,sac_len_var_4,sac_len_std_4,sac_len_var_5,sac_len_std_5,...,sac_len_var_33,sac_len_std_33,sac_len_var_34,sac_len_std_34,sac_len_var_35,sac_len_std_35,sac_len_var_36,sac_len_std_36,sac_len_var_37,sac_len_std_37
0,0.0086,0.092735,0.006856,0.0828,0.008787,0.093741,0.00875,0.093543,0.006019,0.077581,...,0.004574,0.067629,0.006926,0.08322,0.018313,0.135327,0.01331,0.115368,0.013424,0.115863

In [5]:
fix_dur.transform(data)

,fix_dur_median_1,fix_dur_skew_1,fix_dur_var_1,fix_dur_median_2,fix_dur_skew_2,fix_dur_var_2,fix_dur_median_3,fix_dur_skew_3,fix_dur_var_3,fix_dur_median_4,...,fix_dur_var_34,fix_dur_median_35,fix_dur_skew_35,fix_dur_var_35,fix_dur_median_36,fix_dur_skew_36,fix_dur_var_36,fix_dur_median_37,fix_dur_skew_37,fix_dur_var_37
0,178.2125,1.857757,10509.516414,183.87525,1.284709,10140.758874,195.3575,1.518871,16487.438466,190.0345,...,14172.790904,156.328,3.939154,15912.971667,172.9265,0.790963,9222.189501,175.881,2.152412,10483.595051

In [6]:
sac_vel.transform(data)

,sac_vel_mean_1,sac_vel_kurtosis_1,sac_vel_max_1,sac_vel_mean_2,sac_vel_kurtosis_2,sac_vel_max_2,sac_vel_mean_3,sac_vel_kurtosis_3,sac_vel_max_3,sac_vel_mean_4,...,sac_vel_max_34,sac_vel_mean_35,sac_vel_kurtosis_35,sac_vel_max_35,sac_vel_mean_36,sac_vel_kurtosis_36,sac_vel_max_36,sac_vel_mean_37,sac_vel_kurtosis_37,sac_vel_max_37
0,3.002532,6.470488,13.717103,2.703573,1.763947,8.626671,2.830928,3.589073,10.717298,2.802656,...,6.728558,3.044436,37.115046,30.362497,3.032234,30.10733,22.777222,2.870006,6.351163,12.730611

In [7]:
reg_count.transform(data)

,reg_count_1,reg_count_2,reg_count_3,reg_count_4,reg_count_5,reg_count_6,reg_count_7,reg_count_8,reg_count_9,reg_count_10,...,reg_count_28,reg_count_29,reg_count_30,reg_count_31,reg_count_32,reg_count_33,reg_count_34,reg_count_35,reg_count_36,reg_count_37
0,269,164,152,151,155,173,171,192,218,225,...,130,161,104,86,113,166,137,220,104,135

In [8]:
fix_vad.transform(data)

,fix_disp_mean_1,fix_disp_median_1,fix_disp_mean_2,fix_disp_median_2,fix_disp_mean_3,fix_disp_median_3,fix_disp_mean_4,fix_disp_median_4,fix_disp_mean_5,fix_disp_median_5,...,fix_disp_mean_33,fix_disp_median_33,fix_disp_mean_34,fix_disp_median_34,fix_disp_mean_35,fix_disp_median_35,fix_disp_mean_36,fix_disp_median_36,fix_disp_mean_37,fix_disp_median_37
0,1.160423,1.204169,1.171774,1.233559,1.204409,1.263217,1.146726,1.186699,1.196206,1.255999,...,1.275482,1.357264,1.240055,1.305495,1.206376,1.282961,1.208544,1.29094,1.263215,1.362009

In [9]:
extractor.transform(data)

,sac_vel_mean_1,sac_vel_kurtosis_1,sac_vel_max_1,sac_vel_mean_2,sac_vel_kurtosis_2,sac_vel_max_2,sac_vel_mean_3,sac_vel_kurtosis_3,sac_vel_max_3,sac_vel_mean_4,...,reg_count_28,reg_count_29,reg_count_30,reg_count_31,reg_count_32,reg_count_33,reg_count_34,reg_count_35,reg_count_36,reg_count_37
0,3.002532,6.470488,13.717103,2.703573,1.763947,8.626671,2.830928,3.589073,10.717298,2.802656,...,130,161,104,86,113,166,137,220,104,135

In [10]:
sac_len.transform(data).shape, fix_dur.transform(data).shape, sac_vel, extractor.transform(data).shape

((1, 74),
 (1, 111),
 SaccadeVelocity(duration='duration', pk=['tekst'],
                 stats=['mean', 'kurtosis', 'max'], t='start_timestamp',
                 x='norm_pos_x', y='norm_pos_y'),
 (1, 407))

In [11]:
from scanpath_dist import get_expected_path

paths = get_expected_path(
    data=data,
    x='norm_pos_x',
    y='norm_pos_y',
    path_pk=['tekst'],
    pk=['tekst', 'Participant'],
    duration='duration'
)

paths.keys()

dict_keys(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37'])

In [12]:
paths['1']

        x_est     y_est  duration_est
0    0.259898  0.500364     206.67675
1    0.249939  0.471984     167.37850
2    0.245635  0.460574     151.21150
3    0.240511  0.528885     186.05625
4    0.266589  0.529640     278.93000
..        ...       ...           ...
166  0.460267 -0.072699     228.13350
167  0.461565 -0.063056      79.41750
168  0.334058  0.265421     131.70250
169  0.334674  0.273724     120.10650
170  0.262132  0.343488     191.01800

[171 rows x 3 columns]

In [13]:
from scanpath_dist import EucDist

euc = EucDist(
    x='norm_pos_x',
    y='norm_pos_y',
    path_pk=['tekst'],
    pk=['Participant', 'tekst'],
    return_df=True
)

euc.expected_paths

In [14]:
euc.fit_transform(data)

,euc_1_1,euc_1_2,euc_1_3,euc_1_4,euc_1_5,euc_1_6,euc_1_7,euc_1_8,euc_1_9,euc_1_10,...,euc_2_28,euc_2_29,euc_2_30,euc_2_31,euc_2_32,euc_2_33,euc_2_34,euc_2_35,euc_2_36,euc_2_37
0,19.774817,6.845336,6.807137,9.40596,6.841313,13.803866,13.172698,9.699999,10.177342,5.370692,...,28.63269,27.179347,15.420957,19.820485,10.697674,4.989575,8.937469,43.75809,27.940276,36.8129