In [1]:
import pandas as pd
import numpy as np
from scanpath_dist import SimpleDistances, ScanMatchDist, TDEDist, MultiMatchDist

import warnings
warnings.simplefilter("ignore")

In [2]:
data = pd.concat([
    pd.read_excel('itog_fix_1.xlsx'),
    pd.read_excel('itog_fix_2.xlsx'),
    pd.read_excel('itog_fix_3.xlsx'),
    pd.read_excel('itog_fix_4.xlsx')
], axis=0)

In [3]:
x = 'norm_pos_x'
y = 'norm_pos_y'
t = 'start_timestamp'
dur = 'duration'
dis = 'dispersion'
msv = 4.7  # MS_VELOCITY_THRESHOLD
msa = 1.2  # MS_AMPLITUDE_THRESHOLD

extr = SimpleDistances(
    methods=["euc", "hau", "dfr", "eye", "man", "dtw"],
    x=x, y=y,
    path_pk=["tekst"],
    pk=["Participant", "tekst"],
    return_df=True,
    expected_paths_method="fwp"
)

extr.fit_transform(data)

100%|██████████| 147/147 [00:00<00:00, 621.27it/s]
100%|██████████| 147/147 [00:01<00:00, 94.21it/s]
100%|██████████| 147/147 [00:01<00:00, 77.90it/s]
100%|██████████| 147/147 [00:04<00:00, 35.34it/s]
100%|██████████| 147/147 [00:03<00:00, 40.01it/s]
100%|██████████| 147/147 [00:11<00:00, 12.91it/s]

        euc_dist  hau_dist   dfr_dist  eye_dist  man_dist   dtw_dist
1_1     7.591757  0.224017   0.083617  0.005985  0.001739   8.614219
1_2     4.630642  0.202731   0.116602  0.006937  0.001881   6.312720
1_3     4.221052  0.244669   0.150628  0.018882  0.005870  13.553276
1_4     6.897640  0.221006   0.200567  0.013523  0.004678  16.500521
1_5    22.545281  0.252026   6.865763  0.113191  0.028298  22.179504
...          ...       ...        ...       ...       ...        ...
4_32   25.034390  4.900670  24.016566  0.257638  0.159045   9.140340
4_33   13.700089  3.596473  12.934615  0.150227  0.086592  20.299238
4_34   34.730289  4.242227  17.996494  0.331893  0.281674  35.771603
4_35   34.215009  3.982142  15.857453  0.180500  0.156914  28.104644
4_36  117.492399  6.461346  41.748987  0.711059  0.391697  55.423784

[147 rows x 6 columns]

In [4]:
sm = ScanMatchDist(
    x=x, y=y, duration=dur,
    path_pk=["tekst"],
    pk=["Participant", "tekst"],
    sub_mat=np.random.rand(20, 20),
    expected_paths_method="mean",
    return_df=True,
)

sm.fit_transform(data)

100%|██████████| 147/147 [00:04<00:00, 36.36it/s]

      scan_match_dist
1_1          0.760015
1_2          0.625005
1_3          0.886937
1_4          0.433953
1_5          0.916771
...               ...
4_32         0.153541
4_33         0.704210
4_34         0.085191
4_35         0.998490
4_36         0.041565

[147 rows x 1 columns]

In [5]:
sm = TDEDist(
    x=x, y=y, k=5,
    path_pk=["tekst"],
    pk=["Participant", "tekst"],
    expected_paths_method="fwp",
    return_df=True,
)

sm.fit_transform(data)

100%|██████████| 147/147 [00:01<00:00, 84.68it/s]

       tde_dist
1_1    0.394934
1_2    0.334679
1_3    0.470944
1_4    0.451979
1_5    0.964214
...         ...
4_32   6.195018
4_33   3.711179
4_34  12.366346
4_35   6.708405
4_36  16.665559

[147 rows x 1 columns]

In [6]:
sm = MultiMatchDist(
    x=x, y=y, duration=dur,
    path_pk=["tekst"],
    pk=["Participant", "tekst"],
    expected_paths_method="mean",
    return_df=True,
)

sm.fit_transform(data)

100%|██████████| 147/147 [00:11<00:00, 13.07it/s]

      mm_shape  mm_angle    mm_len    mm_pos  mm_duration
1_1   0.987622  0.823446  0.983023  0.858932     0.672369
1_2   0.987987  0.868683  0.983324  0.878968     0.503822
1_3   0.995340  0.788251  0.993779  0.757345     0.113130
1_4   0.995311  0.592394  0.993236  0.768782     0.453004
1_5   0.988957  0.896258  0.983912  0.849501     0.536804
...        ...       ...       ...       ...          ...
4_32  0.991285  0.717592  0.987908  0.844805     0.419432
4_33  0.993777  0.456807  0.995888  0.725855     0.583076
4_34  0.991481  0.410993  0.992174  0.673057     0.585338
4_35  0.992881  0.406571  0.989369  0.824738     0.528975
4_36  0.988888  0.617653  0.988690  0.825714     0.535173

[147 rows x 5 columns]