In [1]:
import pandas as pd
import numpy as np
from scanpath_dist import SimpleDistances, ScanMatchDist, TDEDist, MultiMatchDist

import warnings
warnings.simplefilter("ignore")

In [2]:
data = pd.concat([
    pd.read_excel('itog_fix_1.xlsx'),
    pd.read_excel('itog_fix_2.xlsx'),
    pd.read_excel('itog_fix_3.xlsx'),
    pd.read_excel('itog_fix_4.xlsx')
], axis=0)

In [3]:
x = 'norm_pos_x'
y = 'norm_pos_y'
t = 'start_timestamp'
dur = 'duration'
dis = 'dispersion'
msv = 4.7  # MS_VELOCITY_THRESHOLD
msa = 1.2  # MS_AMPLITUDE_THRESHOLD

In [4]:
extr = SimpleDistances(
    methods=["euc", "hau", "dfr", "eye", "man", "dtw"],
    x=x, y=y,
    path_pk=["tekst"],
    pk=["Participant", "tekst"],
    return_df=True,
    expected_paths_method="fwp"
)

extr.fit_transform(data)

100%|██████████| 147/147 [00:00<00:00, 712.90it/s]
100%|██████████| 147/147 [00:01<00:00, 100.79it/s]
100%|██████████| 147/147 [00:01<00:00, 84.19it/s]
100%|██████████| 147/147 [00:03<00:00, 38.44it/s]
100%|██████████| 147/147 [00:03<00:00, 43.48it/s]
100%|██████████| 147/147 [00:10<00:00, 13.51it/s]

        euc_dist  hau_dist   dfr_dist  eye_dist  man_dist   dtw_dist
1_1     7.591757  0.224017   0.086455  0.005985  0.001739   8.682150
1_2     4.630642  0.202731   0.112117  0.006937  0.001881   6.705348
1_3     4.221052  0.244669   0.167873  0.018882  0.005870  13.129022
1_4     6.897640  0.221006   0.212091  0.013523  0.004678  16.598851
1_5    22.545281  0.252026   6.865763  0.113191  0.028298  21.688229
...          ...       ...        ...       ...       ...        ...
4_32   25.034390  4.900670  24.016566  0.257638  0.159045   8.891634
4_33   13.700089  3.596473  12.934615  0.150227  0.086592  20.361294
4_34   34.730289  4.242227  17.996494  0.331893  0.281674  34.960979
4_35   34.215009  3.982142  15.857453  0.180500  0.156914  28.083602
4_36  117.492399  6.461346  41.748987  0.711059  0.391697  55.004861

[147 rows x 6 columns]

In [5]:
sm = ScanMatchDist(
    x=x, y=y, duration=dur,
    path_pk=["tekst"],
    pk=["Participant", "tekst"],
    sub_mat=np.random.rand(20, 20),
    expected_paths_method="mean",
    return_df=True,
)

sm.fit_transform(data)

100%|██████████| 147/147 [00:03<00:00, 42.07it/s]

      scan_match_dist
1_1          0.882877
1_2          0.745486
1_3          0.790873
1_4          0.180876
1_5          0.496771
...               ...
4_32         0.454509
4_33         0.294873
4_34         0.950638
4_35         0.654485
4_36         0.844018

[147 rows x 1 columns]

In [6]:
sm = TDEDist(
    x=x, y=y, k=5,
    path_pk=["tekst"],
    pk=["Participant", "tekst"],
    expected_paths_method="fwp",
    return_df=True,
)

sm.fit_transform(data)

100%|██████████| 147/147 [00:01<00:00, 100.82it/s]

       tde_dist
1_1    0.394934
1_2    0.334679
1_3    0.470944
1_4    0.451979
1_5    0.964214
...         ...
4_32   6.195018
4_33   3.711179
4_34  12.366346
4_35   6.708405
4_36  16.665559

[147 rows x 1 columns]

In [7]:
sm = MultiMatchDist(
    x=x, y=y, duration=dur,
    path_pk=["tekst"],
    pk=["Participant", "tekst"],
    expected_paths_method="mean",
    return_df=True,
)

sm.fit_transform(data)

100%|██████████| 147/147 [00:11<00:00, 12.63it/s]

      mm_shape  mm_angle    mm_len    mm_pos  mm_duration
1_1   0.987622  0.823446  0.983023  0.858932     0.672369
1_2   0.987987  0.868683  0.983324  0.878968     0.503822
1_3   0.995340  0.788251  0.993779  0.757345     0.113130
1_4   0.995311  0.592394  0.993236  0.768782     0.453004
1_5   0.988957  0.896258  0.983912  0.849501     0.536804
...        ...       ...       ...       ...          ...
4_32  0.991285  0.717592  0.987908  0.844805     0.419432
4_33  0.993777  0.456807  0.995888  0.725855     0.583076
4_34  0.991481  0.410993  0.992174  0.673057     0.585338
4_35  0.992881  0.406571  0.989369  0.824738     0.528975
4_36  0.988888  0.617653  0.988690  0.825714     0.535173

[147 rows x 5 columns]

In [8]:
from eyetracking.features.extractor import Extractor

features = [
    SimpleDistances(methods=["euc", "hau", "dfr", "eye", "man", "dtw"]),
    ScanMatchDist(sub_mat=np.random.rand(20, 20)),
    TDEDist(),
    MultiMatchDist()
]

extr = Extractor(
    features=features, 
    x=x,
    y=y,
    t=t,
    duration=dur,
    dispersion=dis,
    path_pk=["tekst"],
    pk=["tekst", "Participant"],
    expected_paths_method="mean",
    return_df=True
)

extr.fit_transform(data)

100%|██████████| 147/147 [00:00<00:00, 1956.86it/s]
100%|██████████| 147/147 [00:00<00:00, 256.78it/s]
100%|██████████| 147/147 [00:00<00:00, 749.43it/s]
100%|██████████| 147/147 [00:00<00:00, 634.37it/s]
100%|██████████| 147/147 [00:00<00:00, 629.21it/s]
100%|██████████| 147/147 [00:09<00:00, 14.79it/s]
100%|██████████| 147/147 [00:01<00:00, 114.51it/s]
100%|██████████| 147/147 [00:09<00:00, 15.93it/s]
100%|██████████| 147/147 [00:09<00:00, 14.87it/s]

,euc_dist,hau_dist,dfr_dist,eye_dist,man_dist,dtw_dist,scan_match_dist,tde_dist,mm_shape,mm_angle,mm_len,mm_pos,mm_duration
1_1,7.591757,0.224017,0.083617,0.005985,0.001739,8.781567,0.202409,0.079915,0.987622,0.823446,0.983023,0.858932,0.672369
1_2,4.047337,0.171318,0.132611,0.028630,0.007369,9.447536,0.526821,0.081833,0.990918,0.808492,0.988416,0.849313,0.537596
1_3,27.484818,0.405044,0.307576,0.078699,0.019675,20.222634,0.311422,0.165714,0.991243,0.832974,0.990415,0.804702,0.507337
1_4,4.922946,0.308342,0.195043,0.015742,0.005872,9.875022,0.050401,0.163537,0.991469,0.644357,0.991688,0.846432,0.581789
2_1,4.630642,0.202731,0.087615,0.006937,0.001881,6.617460,0.688816,0.067051,0.987987,0.868683,0.983324,0.878968,0.503822
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36_3,31.196341,0.096227,4.683181,0.138504,0.034626,26.285273,0.101759,0.213508,0.990480,0.854508,0.987652,0.849554,0.564465
36_4,117.492399,6.461346,41.748987,0.711059,0.391697,49.412066,0.641506,3.689957,0.988888,0.617653,0.988690,0.825714,0.535173
37_1,8.326001,0.249806,0.172746,0.048325,0.012081,5.941018,0.664371,0.077620,0.986974,0.846832,0.983361,0.833581,0.633321
37_2,26.286358,0.665854,0.472347,0.111530,0.029065,5.506453,0.385121,0.300674,0.986136,0.729819,0.984645,0.662469,0.638890
37_3,2.067031,0.122068,0.240542,0.023262,0.006101,5.255844,0.566583,0.054713,0.990164,0.750139,0.988147,0.895841,0.678973